/* FormTrash css*/
.form_container {
    padding-top: 54px;
    padding-bottom: 54px;
}

.container.legend {
    height: 80px;
    margin-bottom: 75px;
    margin-top: 30px;
}

.thash_title {
    margin-bottom: 70px;
}

.legend p {
    width: 33%;
    float: left;
    font-size: 24px;
}

.legend .small {
    background-color: #79cfc2;
}

.legend .medium {
    background-color: #049cc5;
}

.legend .large {
    background-color: #e87169;
}

.waste .waste_type {
    margin-bottom: 30px;
    margin-top: 10px;
}

.waste_type input[type=radio], .waste_quantity input[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.waste_type input[type=radio] + img, .waste_quantity input[type=radio] + img {
    cursor: pointer;
}

.waste_type input[type=radio]:checked + img, .waste_quantity input[type=radio]:checked + img {
    outline: 5px solid #e87169;
    -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
}

