.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.map_row {
  background-color:  rgb(245, 247, 248); 
  align-items: center;   
}
.map{
  padding: 0px;
  margin: 0px;
}
.homepage_localization {
  margin-top: 4vw;
}

.homepage_google_map {  
  height: 500px;  
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation-links {
  position: relative;
  float: right;
}

#navigation {
  background-color: white!important;
  display: flex;
  justify-content: center;
  color: #282c34!important;
  width: 50%;
  margin: 0 20% 0 30%;
  height: 10vh;
}

.report {
  height: 30vh;
}

.report {
  height: 30vh;
}

.show-garbage {
  height: 30vh;
}

.navbar-dark .navbar-nav .nav-link {
  color: black!important;
}

#navigation>a {
  color: #282c34!important;
}

#navigation>div>a {
  padding: 2em;
}

#nav-links:hover {
  color: rgb(5, 179, 121)!important;
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
  
}

.logo {
  position: relative;
  float: left;
}